.sideMenu {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: var(--color-bg);
  min-width: 240px;
  min-height: 100vh;

  padding: 16px 24px;
}

.logo h1 {
  font-weight: 800;
  text-align: center;
}

.logo span:first-of-type {
  color: var(--color-primary);
}

.sideMenu ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.navItem {
  margin: 8px 0;
}

.navLink {
  color: var(--color-text);
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.1s ease-in;

  position: relative;
}

.icon {
  width: 20px;
  height: 20px;
}
.navLink:hover {
  background-color: var(--color-primary);
  color: var(--color-body);
}

.navLink::before {
  content: "";
  width: 10px;
  height: 100%;
  border-radius: 16px;
  background-color: var(--color-primary);

  position: absolute;
  left: -24px;
  transform: translateX(-50%);
  display: none;
}

.navLink:hover::before {
  display: block;
}
